
/*************fix styles******************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #111; 
}

body {
    font-size: 1.6rem;
    background-color: #eeeeee;
}
input[type="submit"] {cursor: pointer;}

/**navigation bar**/
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: initial; 
    transition: all 0.5s ease-in;
}

.scroll-header {
    background-color: #191919;
}

.nav-list {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: initial;   
}

.index-intro, 
.signup-form, 
.login-form, 
.accounts,
.update-accounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 2.8)), center no-repeat;    background-size: cover;
    color: #eeeeee;
}
.hamburger-menu {
    user-select: none;
}

.nav-list > li {
    line-height: 8rem;
    position: relative;
}

.nav-list a {
    display: block;
    color: #eeeeee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: #02a52e;
}

/*************index.php******************/
.text {
    width: 100%;
    text-align: center;
    color: #eeeeee;
}

.text h1 {
    font-size: 5rem;
    margin: 2rem 0;
}

.text p {
    font-size: 2rem;
}

/****categories*****/

section.index-categories {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.index-categories h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.index-categories-list {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr))*/
    grid-template-columns: repeat( auto-fit, 20rem);
    justify-content: center;
    gap: 1rem;
}

.index-categories-list > div {
    min-height: 20rem;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 650ms; 
}

.index-categories-list > div:hover {
    box-shadow: 7px 7px 5px #7d009c;
}

.index-categories-list h3 {
    color: #eeeeee;
    transition: all 650ms;
}

.index-categories-list > div:hover h3 {
    color: #8b00a7;
}

/*************signup.php and login.php******************/

.signup-form-box, .login-form-box{
    color: #191919;
    background: rgba(238, 238, 238.5);
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
}

.signup-form-box h2, .login-form-box h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    margin-bottom: 2rem;
    position: relative;
}

input {
    width: 100%;
    padding: 1rem;
    outline: none;
    /* border: 1px solid #034715; */
    background: initial;
    font-size: 1.5rem;
}

::placeholder {
    color: #034715;
}

button[type-submit] {
    width: 100%;
    padding: 1rem 0;
    outline: none;
    border: 1px solid #034715;
    color: #034715;
    background: rgba(3, 71, 71, .5);
    font-size: 1.5rem;
    cursor: pointer;
}

/**Hamburger menu**/

.hamburger-menu {
    display: none;
    line-height: 8rem;
    cursor: pointer;
}

/* 6. active class*/

.close-btn {
    display: none;
}

/* if active, show close button */
.active .close-btn{
    display: none;
}

/* if active, hide menu button */
.active .menu-list{
    display: none;
}

/* if active, then handle .nav-list, who default is display:none;, that we can see at the media*/

.active .nav-list{
    display: flex;
}

/* to 768 pixels, narrow screen changing to vertical, not horizontal*/
@media (max-width: 600px){
    .nav-list {
        flex-direction: column;
        display: none;
        background-color: #191919;
    }

    .hamburger-menu {
        display: block;
        color: #eeeeee;
    }

}

/**************update.php******************/
.user-accounts {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    grid-row-gap: 1em;

    font-family: 'Ubuntu', sans-serif;
}
.account:nth-of-type(10n) {
    border: none;
} 
a.account {
    background-color: rgba(226, 59, 26, 0.932);
    color: inherit;
}
.account {
    font-size: 15px!important;
    border-right: rgba(0, 0, 0, 0.274) 2px solid;
    background-color: rgba(70, 70, 70, 0.993);
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    text-align: center;
}
/*************update.php******************/
 .update-account {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-row-gap: 1em;

    font-family: 'Ubuntu', sans-serif;
    color: #eeeeee;
} 

.update-account-item:nth-of-type(6n) {
    border: none;
} 
.update-account-item button[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(226, 59, 26, 0.932);
    color: inherit;
}

.update-account-item {
    font-size: 15px!important;
    border-right: rgba(0, 0, 0, 0.274) 2px solid;
    background-color: rgba(70, 70, 70, 0.993);
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    text-align: center;
}
.update-account-item input {
    outline: none;
    border: none;
    color: #eeeeee;
    border-bottom: 1px rgba(0, 0, 0, 0.445) solid;
}