@font-face {
    font-family: "SCDfont";
    /* form  */
    src: url('stencil_compress_d.ttf') format("truetype");
}
@font-face {
    /* cia terminal */
    font-family: "copperplate_light";
    src: url('copperplate_light.ttf') format("truetype");
}
@font-face {
    /* copyright text */
    font-family: "footlight_light";
    src: url('footlight_light.otf') format("opentype");
}
@font-face {
    /* virs pirksta nospieduma */
    font-family: "belwe_std_condensed";
    src: url('belwe_std_condensed.otf') format("opentype");
}