* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}
body {
    background-color: rgba(0, 0, 0, 0.952);
    color: #fff;
    font-family: "SCDfont", sans-serif;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}
input {
    background-color: #7996B8;
    border: 0;
    outline: 0;
    width: 400px;
    height: 20px;
    padding: 5px 10px;
}
label {
    font-size: 24px;
    vertical-align: middle;
    letter-spacing: 1.5px;
}
.cia-logo {
    width: 350px;
    height: 350px;
    padding: 40px 10px 10px 40px;
}
.header {
    font-family: "copperplate_light", sans-serif;
    color: #787C7C;
    font-size: 56px;
    font-weight: normal;
    position: absolute;
    right: 100px;
    top: 70px;
}
.content {
    flex: 1 0 auto;
    color: #7996B8;

    text-align: right;
    
    margin-right: 100px;
    margin-top: -130px;
    position: relative;
}
.submit {
    background: 0;
    border: 0;

    width: 150px;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 11%;
    top: 39%;
}
.submit-txt {
    font-family: "belwe_std_condensed", sans-serif;
    color: #DBD0A7;
}
.submit img {
    width: 70px;
    height: 80px;
    cursor: pointer;
    position: relative;
}

.copyright {
    font-family: "footlight_light", sans-serif;
    font-size: 17px;
    color: #727272;
    flex-shrink: 0;
    padding:  0 200px 50px 200px;
}